body{

}
a{
    text-decoration: none;
}
.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   background-color: #475C70;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 0 4px 0 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  .side{
 
   padding-left: 9px;
   
    
  }
#log{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#fonta{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    margin: 0px;
    color: white;
}
  #specs{
      
       margin-top: 8px;
        height: 50px;
        width: 164px;
    padding-left: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: 5px solid #D2C128;
  }
  #specs1{
      
    margin-top: 8px;
     height: 50px;
     width: 164px;
 padding-left: 35px;
     display: flex;
     flex-direction: row;
     align-items: center;
    
}


  #specsil{
      
    margin-top: 8px;
     height: 50px;
     width: 164px;
 padding-left: 35px;
     display: flex;
     flex-direction: row;
     align-items: center;
     border-left: 5px solid #D2C128;
}
  #specid{
    width: 40px;
    height: 40px;
    margin-right: 25px;
 
  }
  #Watches{
   
  
        height: 50px;
        width: 164px;
        padding-left: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
  }
  #description{

      color: white;

  }
  #watchid{
    width: 25px;
    height: 25px;
    margin-right: 33px;
    padding-left: 10px;
 
  
  }
  .main {
    margin-left: 250px; 
    font-size: 28px; 
    padding: 0px 10px;
 
  }
  #heading{
    font-family: 'Harmattan', sans-serif;
    font-weight:  700;
  }
  #img1{
 
    background-color:#F8F8F8;
      border-radius: 5px;
    margin-left: 40px;
  }
  #imgholder1{
    height: 250px;
    width:250px;
    background-color: #F8F8F8;
    padding-left: 12px;
    border: 1px solid #D1CACA;
}

#textholder1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:250px;
    background-color: #f7f7f7;
    border: 2px solid #DF20CC;
    padding-left: 12px;

}
#one{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #DF20CC;
}
#imgcontainer{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    
}
#bg{
  border-radius: 2px;
  border: 1px solid #8a8a8a;
}
#watchtemp{
  height: 100px;
  width: 200px;
  margin-top: 50px;
  margin-left: 20px;
}
#watchtemp2{
  height: 74px;
  width: 200px;
  margin-top: 60px;
  margin-left: 20px;
}
#wtemp{
  margin-top: 12px;
  margin-left: 20px;
  height: 210px;
  width: 170px;
}
#wtemp2{
  margin-top: 12px;
  margin-left: 20px;
  height: 210px;
  width: 200px;
}
#samplestyle{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #6F676E;
}
#sampleholder{
    display: flex;
    justify-content: center;
    align-items: center;
}