
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>View Product</title>

    <script src="{{url_for('static', filename='home.js')}}"></script>
</head>
<body>




    <div id="totalframe">
        <div id="close" onclick="window.location.href='{{ url_for( 'watches') }}';">                  <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.25 6.75L6.75 17.25"/>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.75 6.75L17.25 17.25"/>
          </svg></div>
        <div id="firstframe">
     
            <div id="logos">

               <i> <p id="shade"> Shade<b>AR</b></p></i>
                <p id="specs">Watch TryOut</p>

            </div>
            <!-- <div id="takesnap">
                    <button id="pink" download>
                            Take a Snapshot
                    </button>
            </div> -->

        </div>
        <div id="image">
          
           
        
        
  
            <img id="bg" src="{{ url_for('watch_video_feed',id=prod) }}">

        </div>
        <div id="lastframe">

            <div id="sample">
                <!---Use if else here-->
    
                {% if prod== "301" %}
                <p id="specs"> Sample Watch One </p><br>
                <img src="{{url_for('static', filename='images/hor1.png')}}">
                {%elif prod=="302" %}
                <p id="specs"> Sample Watch Two</p><br>
                <img src="{{url_for('static', filename='images/hor2.png')}}">
                {%endif%}

            </div>
            <div id="avail">
                <p id="specs">Download This Marker</p>
                <div id="colors">
                    <a href= "https://drive.google.com/file/d/1FDqnBSeNSI0kuuFDtaS57H6PY6pYmBQg/view?usp=sharing" target="_blank" >
                        <img src="{{url_for('static', filename='images/marker.jpg')}}" id="marker">
                    </a>
                    
               
               
                
                </div>

            </div>
        </div>
    </div>










<!-- 
<div class="main">
    <p id="heading"> Spectacles > {{prod}}</p>
    {%if item=="watch"%}

        <img id="bg" src="{{ url_for('spec_video_feed',id=identifier) }}">


    {%else%}
    <img id="bg" src="{{ url_for('watch_video_feed') }}">
    {%endif%}
    </div>
    
   -->
</body>
</html>